body {
  background: #222;
}
.wgt {
  background: brown;
  color: white;
  margin: 2vw 2vh;
  padding: 4vw 4vh;
  display: inline-block;
  height: 45vh;
  width: 45vw;
  font-size: 4vmin;
}
.wthr span  {
  text-align: center;
  font-size: 7vmin;
  display: block;
}
.wthr .city  {
  font-weight: bold;
}
.wthr .tmp {
  font-size: 10vmin;
  display: block;
  text-align: center;
}
