body {
  background: #222;
}
.wgt {
  margin: 1vh 0.25vw 0.5vh 0.5vw;
  padding: 4vh 4vw;
  display: inline-block;
  height: 44vh;
  width: 49vw;
  font-size: 4vmin;
  vertical-align: top;
  overflow: hidden;
}
.wgt .title  {
  font-size: 7vmin;
  font-weight: bold;
}
.clj {
  color: white;
  background: #02779E;
  height: 98vh;
}
.wthr {
  color: white;
  background: brown;
}
.wthr span  {
  text-align: center;
  font-size: 7vmin;
  display: block;
}
.wthr .tmp {
  font-size: 10vmin;
  display: block;
  text-align: center;
}
