html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background: #222;
  color: white;
  overflow: hidden;
}
.wnd {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.wgt {
  margin: 0.25vw 0.25vh;
  padding: 4vh 4vw;
  display: inline-block;
  height: 49vh;
  width: 49vw;
  font-size: 4vmin;
  vertical-align: top;
  overflow: hidden;
  background: #02779E;
}
.wgt.dblh {
  height: 98.5vh;
  width: 49vw;
}
.wgt.dblw {
  height: 49vh;
  width 98.5vw;
}
.wnd .wgt:nth-child(odd){
  background: #02779E;
}
.wnd .wgt:nth-child(even){
  background: #02779E;
}
.wnd .wgt:nth-child(3n){
  background: brown;
}
.wnd .wgt:nth-child(4n){
}
.wgt .small {
  font-size: 2vmin;
}
.wgt .title {
  font-weight: bold;
}
.hgrp {
  display: inline-block;
}
.hgrp .wgt{
  display: block;
}
.wgt.trvs {
  background: #029E77 !important;
}
.trvs .state {
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  background: white;
}
.trvs .state.res-0 {
  background: white;
}
.trvs .state.fixed {
  background: white;
}
.trvs .state.res-1 {
  background: brown;
}
.wgt .title  {
  font-size: 7vmin;
  font-weight: bold;
}
.wgt.clj {
  background: #02779E !important;
}
.wgt.wthr {
  background: brown !important;
}
.wgt.wthr span  {
  text-align: center;
  font-size: 7vmin;
  display: block;
}
.wgt.wthr .tmp {
  font-size: 10vmin;
  display: block;
  text-align: center;
}
